<div class="homepage">
  <div class="main-header">
    <ul id="main-nav">
      <li>Internships</li>
      <li>Companies</li>
      <li>Developers</li>
      <li>Learn</li>
    </ul>
  </div>
  <div class="main-section">
    <h1 id="title">Ruby Interns</h1>
    <h2 id="subtitle">Welcome to your favorite intern board!</h2>
  </div>
</div>
